<a href="https://colab.research.google.com/github/sergioarnold87/Marketing-Inteligencia_Artificial/blob/main/Marketing_I_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1: ENTENDER EL ENUNCIADO DEL PROBLEMA Y EL CASO PRÁCTICO

![alt text](https://drive.google.com/uc?id=1XUcy70cUux6E0VWzUsNsoaMkJxrwyFQv)

![alt text](https://drive.google.com/uc?id=1iBuWfpl1xoGUya8xc2Ucxb4hSWpo-oNR)

![alt text](https://drive.google.com/uc?id=1iBuWfpl1xoGUya8xc2Ucxb4hSWpo-oNR)

![alt text](https://drive.google.com/uc?id=1W-5dXrn6x08UmTEGboo4h5wWSJcdKqfg)

![alt text](https://drive.google.com/uc?id=1uNWFJKZJpDp3Rmp9y9dSSBCpZkgssrPT)

![alt text](https://drive.google.com/uc?id=1SGgzX1j2rXve4eUYBvhCtNl71Ni5ws4_)

Fuente de Datos : https://www.kaggle.com/kyanyoga/sample-sales-data

#2: IMPORTAR LIBRERÍAS Y DATASETS

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import zipfile
import cv2
import tensorflow as tf
from tensorflow.python.keras import Sequential
from tensorflow.keras import layers, optimizers
from tensorflow.keras.applications.resnet50 import ResNet50
from tensorflow.keras.layers import Input, Add, Dense, Activation, ZeroPadding2D, BatchNormalization, Flatten, Conv2D, AveragePooling2D, MaxPooling2D, Dropout
from tensorflow.keras.models import Model, load_model
from tensorflow.keras.initializers import glorot_uniform
from tensorflow.keras.utils import plot_model
from tensorflow.keras.callbacks import ReduceLROnPlateau, EarlyStopping, ModelCheckpoint, LearningRateScheduler
from IPython.display import display
from tensorflow.keras import backend as K
from sklearn.preprocessing import StandardScaler, normalize
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.metrics import silhouette_score
from sklearn.manifold import TSNE
from sklearn.metrics.pairwise import cosine_similarity
import plotly.express as px
import plotly.graph_objects as go

from google.colab import files #Librería para cargar ficheros directamente en Colab
%matplotlib inline

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
sales_df = pd.read_csv('/content/drive/MyDrive/Datasets/AI in Marketing Dataset/sales_data_sample.csv', encoding = 'unicode_escape')
# Nota: MSRP es el precio minorista sugerido por el fabricante (MSRP) o el precio de etiqueta representa el precio minorista sugerido de los productos.
# El MSRP se utiliza para estandarizar el precio de los productos en varias ubicaciones de tiendas de la empresa.

In [6]:
sales_df

      ORDERNUMBER  QUANTITYORDERED  ...  CONTACTFIRSTNAME  DEALSIZE
0           10107               30  ...              Kwai     Small
1           10121               34  ...              Paul     Small
2           10134               41  ...            Daniel    Medium
3           10145               45  ...             Julie    Medium
4           10159               49  ...             Julie    Medium
...           ...              ...  ...               ...       ...
2818        10350               20  ...             Diego     Small
2819        10373               29  ...            Pirkko    Medium
2820        10386               43  ...             Diego    Medium
2821        10397               34  ...           Annette     Small
2822        10414               47  ...              Juri    Medium

[2823 rows x 25 columns]

In [7]:
# Ver los tipos de datos
sales_df.dtypes

ORDERNUMBER           int64
QUANTITYORDERED       int64
PRICEEACH           float64
ORDERLINENUMBER       int64
SALES               float64
ORDERDATE            object
STATUS               object
QTR_ID                int64
MONTH_ID              int64
YEAR_ID               int64
PRODUCTLINE          object
MSRP                  int64
PRODUCTCODE          object
CUSTOMERNAME         object
PHONE                object
ADDRESSLINE1         object
ADDRESSLINE2         object
CITY                 object
STATE                object
POSTALCODE           object
COUNTRY              object
TERRITORY            object
CONTACTLASTNAME      object
CONTACTFIRSTNAME     object
DEALSIZE             object
dtype: object

RETO #1: 
- Convertir la fecha del pedido en formato de fecha y hora usando `pandas`.
- Verificar que la conversión es correcta imprimiendo el tipo de datos

In [8]:
# Convertir la fecha del pedido en formato de fecha y hora
sales_df['ORDERDATE'] = pd.to_datetime(sales_df['ORDERDATE'])
# Comprobar el tipo de datos
sales_df.dtypes

ORDERNUMBER                  int64
QUANTITYORDERED              int64
PRICEEACH                  float64
ORDERLINENUMBER              int64
SALES                      float64
ORDERDATE           datetime64[ns]
STATUS                      object
QTR_ID                       int64
MONTH_ID                     int64
YEAR_ID                      int64
PRODUCTLINE                 object
MSRP                         int64
PRODUCTCODE                 object
CUSTOMERNAME                object
PHONE                       object
ADDRESSLINE1                object
ADDRESSLINE2                object
CITY                        object
STATE                       object
POSTALCODE                  object
COUNTRY                     object
TERRITORY                   object
CONTACTLASTNAME             object
CONTACTFIRSTNAME            object
DEALSIZE                    object
dtype: object

RETO #2: 
- ¿Cuántos elementos nulos existen en 'ADDRESSLINE2'?

In [9]:
# Comprobar el numero de elementos no nulos del data frame
sales_df.info()
# Comprobar el numero de elementos nulos del data frame
sales_df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   datetime64[ns]
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(7), object(15)
memory usage: 551.5+ KB

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [10]:
# Dado que hay muchos valores nulos en 'addressline2', 'state', 'postal code' y 'territorio', podemos eliminarlos.
# Country representaría la información geográfica del pedido.
# También podemos eliminar la ciudad, la dirección1, el número de teléfono, el nombre del contacto, el apellido del contacto y el nombre del contacto, ya que no son necesarios para el análisis.

df_drop  = ['ADDRESSLINE1', 'ADDRESSLINE2', 'POSTALCODE', 'CITY', 'TERRITORY', 'PHONE', 'STATE', 'CONTACTFIRSTNAME', 'CONTACTLASTNAME', 'CUSTOMERNAME', 'ORDERNUMBER']
sales_df = sales_df.drop(df_drop, axis = 1)
sales_df.head()

   QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER  ...  PRODUCTCODE COUNTRY DEALSIZE
0               30      95.70                2  ...     S10_1678     USA    Small
1               34      81.35                5  ...     S10_1678  France    Small
2               41      94.74                2  ...     S10_1678  France   Medium
3               45      83.26                6  ...     S10_1678     USA   Medium
4               49     100.00               14  ...     S10_1678     USA   Medium

[5 rows x 14 columns]

In [11]:
sales_df.isnull().sum()

QUANTITYORDERED    0
PRICEEACH          0
ORDERLINENUMBER    0
SALES              0
ORDERDATE          0
STATUS             0
QTR_ID             0
MONTH_ID           0
YEAR_ID            0
PRODUCTLINE        0
MSRP               0
PRODUCTCODE        0
COUNTRY            0
DEALSIZE           0
dtype: int64

RETO #3: 
- ¿Cuántos valores únicos existen en 'país'?
- ¿Cuántos códigos de producto únicos y líneas de productos tenemos?

In [12]:
# Obtener las observaciones únicas de cada columna
sales_df.nunique()

QUANTITYORDERED      58
PRICEEACH          1016
ORDERLINENUMBER      18
SALES              2763
ORDERDATE           252
STATUS                6
QTR_ID                4
MONTH_ID             12
YEAR_ID               3
PRODUCTLINE           7
MSRP                 80
PRODUCTCODE         109
COUNTRY              19
DEALSIZE              3
dtype: int64

# 3: ANALISIS EXPLORATORIO DE LOS DATOS Y LIMPIEZA - PARTE 1

In [13]:
sales_df['COUNTRY'].value_counts().index

Index(['USA', 'Spain', 'France', 'Australia', 'UK', 'Italy', 'Finland',
       'Norway', 'Singapore', 'Canada', 'Denmark', 'Germany', 'Sweden',
       'Austria', 'Japan', 'Belgium', 'Switzerland', 'Philippines', 'Ireland'],
      dtype='object')

In [14]:
sales_df['COUNTRY'].value_counts()

USA            1004
Spain           342
France          314
Australia       185
UK              144
Italy           113
Finland          92
Norway           85
Singapore        79
Canada           70
Denmark          63
Germany          62
Sweden           57
Austria          55
Japan            52
Belgium          33
Switzerland      31
Philippines      26
Ireland          16
Name: COUNTRY, dtype: int64

In [15]:
# Función para visualizar el recuento de elementos en una columna determinada
# Ten en cuenta que Plotly es una librería de gráficos de Python que crea gráficos interactivos con calidad de publicación.
# Compruébalo en: https://plotly.com/python/
# Nota: px (plotly_express) es un wrapper de alto nivel entorno a plotly para una rápida exploración de datos y generación de figuras
# Compruébalo en: https://plotly.github.io/plotly_express

def barplot_visualization(x):
  fig = plt.Figure(figsize = (12, 6))
  fig = px.bar(x = sales_df[x].value_counts().index, y = sales_df[x].value_counts(), color = sales_df[x].value_counts().index, height = 600)
  fig.show()

In [16]:
# Llamemos a esta función para cualquier columna determinada, como 'COUNTRY'
barplot_visualization('COUNTRY')

RETO #4: 
- ¿Cuántos valores de estado de pedido únicos tenemos?
- ¿Tenemos conjuntos de datos balanceados? Comentar el resultado y proponer soluciones para solucionar el problema

In [17]:
barplot_visualization('STATUS')

In [18]:
sales_df.drop(columns= ['STATUS'], inplace = True)
sales_df

      QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER  ...  PRODUCTCODE  COUNTRY  DEALSIZE
0                  30      95.70                2  ...     S10_1678      USA     Small
1                  34      81.35                5  ...     S10_1678   France     Small
2                  41      94.74                2  ...     S10_1678   France    Medium
3                  45      83.26                6  ...     S10_1678      USA    Medium
4                  49     100.00               14  ...     S10_1678      USA    Medium
...               ...        ...              ...  ...          ...      ...       ...
2818               20     100.00               15  ...     S72_3212    Spain     Small
2819               29     100.00                1  ...     S72_3212  Finland    Medium
2820               43     100.00                4  ...     S72_3212    Spain    Medium
2821               34      62.24                1  ...     S72_3212   France     Small
2822               47      65.52                9  ...     S72_3212      USA    Medium

[2823 rows x 13 columns]

In [19]:
barplot_visualization('PRODUCTLINE')

In [20]:
barplot_visualization('DEALSIZE')

In [21]:
# Función para agregar variables ficticias para reemplazar variables categóricas
def dummies(x):
  dummy = pd.get_dummies(sales_df[x])
  sales_df.drop(columns = x, inplace = True)
  return pd.concat([sales_df, dummy], axis = 1)

In [22]:
sales_df = dummies('COUNTRY')
sales_df

      QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER  ...  Switzerland UK  USA
0                  30      95.70                2  ...            0  0    1
1                  34      81.35                5  ...            0  0    0
2                  41      94.74                2  ...            0  0    0
3                  45      83.26                6  ...            0  0    1
4                  49     100.00               14  ...            0  0    1
...               ...        ...              ...  ...          ... ..  ...
2818               20     100.00               15  ...            0  0    0
2819               29     100.00                1  ...            0  0    0
2820               43     100.00                4  ...            0  0    0
2821               34      62.24                1  ...            0  0    0
2822               47      65.52                9  ...            0  0    1

[2823 rows x 31 columns]

RETO #5: 
- Obtener dummies para la línea de productos y columnas de tamaño de oferta
- Realizar una prueba de verificación y ver si la transformación es correcta.

In [23]:
sales_df = dummies('PRODUCTLINE')

In [24]:
sales_df

      QUANTITYORDERED  PRICEEACH  ...  Trucks and Buses  Vintage Cars
0                  30      95.70  ...                 0             0
1                  34      81.35  ...                 0             0
2                  41      94.74  ...                 0             0
3                  45      83.26  ...                 0             0
4                  49     100.00  ...                 0             0
...               ...        ...  ...               ...           ...
2818               20     100.00  ...                 0             0
2819               29     100.00  ...                 0             0
2820               43     100.00  ...                 0             0
2821               34      62.24  ...                 0             0
2822               47      65.52  ...                 0             0

[2823 rows x 37 columns]

In [25]:
sales_df = dummies('DEALSIZE')
sales_df

      QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER  ...  Large Medium  Small
0                  30      95.70                2  ...      0      0      1
1                  34      81.35                5  ...      0      0      1
2                  41      94.74                2  ...      0      1      0
3                  45      83.26                6  ...      0      1      0
4                  49     100.00               14  ...      0      1      0
...               ...        ...              ...  ...    ...    ...    ...
2818               20     100.00               15  ...      0      0      1
2819               29     100.00                1  ...      0      1      0
2820               43     100.00                4  ...      0      1      0
2821               34      62.24                1  ...      0      0      1
2822               47      65.52                9  ...      0      1      0

[2823 rows x 39 columns]

In [27]:
y = pd.Categorical(sales_df['PRODUCTCODE'])
y

['S10_1678', 'S10_1678', 'S10_1678', 'S10_1678', 'S10_1678', ..., 'S72_3212', 'S72_3212', 'S72_3212', 'S72_3212', 'S72_3212']
Length: 2823
Categories (109, object): ['S10_1678', 'S10_1949', 'S10_2016', 'S10_4698', ..., 'S700_3962',
                           'S700_4002', 'S72_1253', 'S72_3212']

In [28]:
y = pd.Categorical(sales_df['PRODUCTCODE']).codes
y

array([  0,   0,   0, ..., 108, 108, 108], dtype=int8)

In [29]:
# Dado que el número de código de producto tiene 109 valores únicos, si agregamos variables one-hot,
# serían 109 columnas adicionales, podemos evitarlo usando la codificación categórica
# Esta no es la forma óptima de lidiar con esto, pero es importante evitar la maldición de la dimensionalidad.
sales_df['PRODUCTCODE'] = pd.Categorical(sales_df['PRODUCTCODE']).codes

In [30]:
sales_df

      QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER  ...  Large Medium  Small
0                  30      95.70                2  ...      0      0      1
1                  34      81.35                5  ...      0      0      1
2                  41      94.74                2  ...      0      1      0
3                  45      83.26                6  ...      0      1      0
4                  49     100.00               14  ...      0      1      0
...               ...        ...              ...  ...    ...    ...    ...
2818               20     100.00               15  ...      0      0      1
2819               29     100.00                1  ...      0      1      0
2820               43     100.00                4  ...      0      1      0
2821               34      62.24                1  ...      0      0      1
2822               47      65.52                9  ...      0      1      0

[2823 rows x 39 columns]

# 4: ANALISIS EXPLORATORIO DE LOS DATOS Y LIMPIEZA - PARTE 2